@model KiemTra_TrinhDuDat.Models.HocPhan

@{
    ViewBag.Title = "Dk_Hocphan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<p  style="font-size:24px">Bạn đã đăng ký học phần <strong>@Model.TenHP</strong> với số tín chỉ @Model.SoTinChi </p>
